#cuerpo {
    background-color: black;
}

#encabezado {
    text-align: center;
    font-size: 50px;
    color: aqua;
}

#Tcalculadora {
    color: white;
    font-size: 30px;
}

#num1Input {
    color:cyan;
}

#num2Input {
    color:cyan;
}

#tipoOp {
    color: cyan;
}

#resul {
    color: cyan;
}

#resultado {
    color: cyan;
}